<a href="https://colab.research.google.com/github/Dekem1/Study/blob/main/SR_Fedun_Pareto_v3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

%matplotlib inline

In [ ]:
DATA_URL = "https://raw.githubusercontent.com/sudakov/ai-lab/main/"

data = pd.read_csv(DATA_URL + "data.csv",header=None)

In [ ]:
data

    0  1  2  3  4
0   8  9  3  8  8
1   0  5  3  9  9
2   5  7  6  0  4
3   7  8  1  6  2
4   2  1  3  5  8
.. .. .. .. .. ..
95  2  1  5  8  3
96  4  3  4  6  2
97  6  4  4  1  7
98  1  0  3  9  6
99  0  9  6  1  0

[100 rows x 5 columns]

In [ ]:
data_np=data.to_numpy()

In [ ]:
# ПРОВЕРКА СТРОК
def CHEK_NA_Dom_PO_PORETO(str_A, str_B):
    if (str_A[0] >= str_B[0]) and (str_A[1] >= str_B[1]) and (str_A[2] >= str_B[2]) and (str_A[3] >= str_B[3]) and (str_A[4] >= str_B[4]):       #Т.е идет проверка на то что столбцы строки А
        if (str_A[0] > str_B[0]) or (str_A[1] > str_B[1]) or (str_A[2] > str_B[2])  or (str_A[3] > str_B[3]) or (str_A[4] > str_B[4]):           #больше или равны столбцов строки B
            return 'str_A > str_B'
        else:
            return 'str_A = str_B'
    elif (str_A[0] <= str_B[0]) and (str_A[1] <= str_B[1]) and (str_A[2] <= str_B[2]) and (str_A[3] <= str_B[3]) and (str_A[4] <= str_B[4]):     # Аналогично, только для B
        if (str_A[0] < str_B[0]) or (str_A[1] < str_B[1]) or (str_A[2] < str_B[2]) or (str_A[3] < str_B[3]) or (str_A[4] < str_B[4]):
            return 'str_A < str_B'
        else:
            return 'str_A = str_B'
    else:
        return 'str_A = str_B'

In [27]:
result = np.array([1])
upper = []
for i in range(len(data_np)-1):
    new_row = np.array([-1])
    result = np.vstack([result, new_row])
for i in range(len(data_np)-1):
    for j in range(i+1, len(data_np)):
        comp = CHEK_NA_Dom_PO_PORETO(data_np[i], data_np[j])
        if comp == 'str_A = str_B':
            if result[i] == -1:
                result[i] = 1
            if result[j] == -1:
                result[j] = 1
        if comp == 'str_A > str_B':
            if result[i] == -1:
                result[i] = 1
            result[j] = 0
        if comp == 'str_A < str_B':
            result[i] = 0
            if result[j] == -1:
                result[j] = 1
print(result)

[[1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [1]
 [0]
 [0]
 [0]
 [1]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [1]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [0]
 [0]
 [0]
 [1]
 [0]
 [1]
 [1]
 [0]
 [0]
 [1]
 [0]
 [0]
 [1]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]]

In [28]:
sum(result)

array([32])

In [29]:
data

    0  1  2  3  4
0   8  9  3  8  8
1   0  5  3  9  9
2   5  7  6  0  4
3   7  8  1  6  2
4   2  1  3  5  8
.. .. .. .. .. ..
95  2  1  5  8  3
96  4  3  4  6  2
97  6  4  4  1  7
98  1  0  3  9  6
99  0  9  6  1  0

[100 rows x 5 columns]

In [30]:
data_np

array([[8, 9, 3, 8, 8],
       [0, 5, 3, 9, 9],
       [5, 7, 6, 0, 4],
       [7, 8, 1, 6, 2],
       [2, 1, 3, 5, 8],
       [1, 8, 7, 8, 1],
       [0, 5, 4, 1, 5],
       [4, 7, 6, 0, 0],
       [9, 2, 4, 5, 8],
       [8, 7, 5, 1, 1],
       [1, 5, 5, 7, 4],
       [3, 0, 0, 0, 0],
       [2, 2, 7, 0, 5],
       [0, 1, 4, 1, 2],
       [2, 4, 8, 0, 6],
       [0, 4, 1, 5, 1],
       [8, 8, 7, 0, 0],
       [9, 1, 7, 8, 7],
       [4, 0, 0, 4, 3],
       [0, 8, 2, 7, 2],
       [1, 3, 2, 4, 1],
       [2, 2, 7, 3, 4],
       [1, 6, 7, 9, 1],
       [0, 0, 5, 8, 4],
       [8, 8, 3, 4, 9],
       [2, 5, 4, 7, 9],
       [1, 9, 0, 7, 4],
       [8, 8, 4, 1, 4],
       [0, 5, 6, 7, 0],
       [7, 8, 1, 5, 3],
       [6, 9, 1, 3, 7],
       [4, 9, 0, 8, 4],
       [7, 8, 5, 6, 7],
       [3, 5, 1, 8, 9],
       [2, 9, 8, 9, 4],
       [5, 0, 8, 7, 1],
       [2, 5, 2, 7, 6],
       [7, 9, 1, 5, 7],
       [5, 9, 7, 2, 6],
       [4, 8, 4, 9, 3],
       [8, 5, 6, 3, 8],
       [4, 2, 7, 7, 2],
       [2, 0, 7, 5, 0],
       [3, 3, 5, 5, 4],
       [7, 2, 2, 6, 6],
       [3, 6, 7, 7, 0],
       [8, 9, 4, 5, 4],
       [5, 0, 3, 5, 4],
       [2, 5, 1, 7, 9],
       [6, 0, 1, 7, 0],
       [3, 7, 9, 3, 5],
       [6, 1, 5, 3, 6],
       [8, 5, 6, 7, 0],
       [2, 1, 6, 2, 2],
       [5, 7, 1, 4, 7],
       [9, 3, 1, 2, 3],
       [1, 5, 4, 5, 2],
       [4, 1, 3, 2, 1],
       [4, 5, 8, 3, 1],
       [2, 6, 5, 7, 1],
       [3, 9, 3, 5, 0],
       [7, 2, 6, 0, 1],
       [0, 4, 6, 5, 6],
       [4, 9, 7, 0, 4],
       [2, 8, 9, 8, 2],
       [8, 8, 4, 8, 0],
       [4, 7, 9, 5, 9],
       [6, 4, 6, 3, 0],
       [6, 3, 1, 4, 1],
       [5, 1, 8, 9, 3],
       [0, 1, 4, 8, 5],
       [4, 3, 5, 0, 8],
       [7, 4, 3, 3, 6],
       [1, 7, 9, 1, 2],
       [0, 7, 1, 5, 2],
       [2, 1, 3, 4, 3],
       [8, 0, 6, 8, 3],
       [9, 7, 1, 8, 2],
       [8, 0, 4, 8, 8],
       [6, 4, 3, 0, 4],
       [0, 5, 2, 2, 6],
       [2, 0, 4, 1, 5],
       [5, 6, 5, 9, 5],
       [4, 9, 6, 2, 1],
       [1, 4, 8, 8, 7],
       [5, 8, 7, 1, 9],
       [4, 6, 3, 6, 1],
       [6, 8, 0, 6, 1],
       [4, 4, 8, 7, 8],
       [0, 2, 6, 0, 3],
       [8, 0, 3, 8, 1],
       [5, 2, 8, 3, 3],
       [5, 2, 6, 9, 2],
       [1, 4, 2, 9, 9],
       [0, 8, 3, 1, 2],
       [2, 1, 5, 8, 3],
       [4, 3, 4, 6, 2],
       [6, 4, 4, 1, 7],
       [1, 0, 3, 9, 6],
       [0, 9, 6, 1, 0]])

In [31]:
result.shape

(100, 1)